<h2>Categories (<%= @categories.length %>)</h2>

<ol>
<% @categories.each do |cat| %>
  <li>
    <%= link_to category_products_path(cat) do %>
      <%=cat.title %> 
      (<%= cat.products.count %> products)
    <% end %>
  </li>
<% end %>

</ol>
